html{
    font-size: 10px;
}
title {
text-align: center;

}

body {
    margin:0;
/** background: url("../images/leading-24px.png"); **/
    font-size: 1.4rem;
    font-family: "Spoqa Han Sans";
    line-height: 1.5;
    letter-spacing: -0.015em;
    color: #333741;
}

/* 페이지 요소를 담을 컨테이너 */
.container{
width: 820px;
/* viewport in height=vh */
height: 100vh;
margin-left: auto;
margin-right: auto;
/** background-color: rgba(221,221,221,0.3);  **/

}

/**
* 타이포 그래피 디자인 */


/* 본문 (단락) 디자인 */

p{
    margin-top: 0;
    margin-bottom: 1.5em;
    
}

/* 제목 디자인:Type Scale x 1.25 */

h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom:2.4rem;
    letter-spacing:-0.07em;
}
h1,h2,h3,h4{
   font-weight:300;
   font-weight:100;
}
/* 주석 단축키:콘트롤+물음표*/
/* grouping */
h6{ font-size: 2rem; 
line-height: 2.4rem;
}
h5{ font-size: 2.5rem;
line-height: 2.4rem;
}
h4{ font-size: 3.125rem;
line-height: 2.4rem;}
h3{ font-size: 3.906rem;
line-height: 4.8rem;
}
h2{ font-size: 4.883rem;
line-height: 4.8rem;
}
h1{ font-size: 6.104rem;
line-height: 7.2rem;
}