
.button {
     align:center;
}

.my-button-link{

   
    display:inline-block;
    margin:30px;
    border:1px solid currentColor;
    border-radius:5px;
    padding:0.9375em 1.25em 0.625em;
    font-size:1rem;
    font-weight:300;
    line-height:1;
    letter-spacing:-0.03em;
    text-decoration: none;
    text-transform:uppercase;
    color:#ea11c4;
    transition: all 0.2s ease;
}


.my-button-link:hover {
    border-color:#ea11c4;
    background:#ea11c4;
    color:#ffffff;
}
