
/*:가상클래스 VS ::가상요소(Psudo Element)*/
p::-moz-selection{
background:#ffd3da;
color:#f44da4;
}
p::selection{
background:#ffd3da;
color:#f44da4;
}



body {
    margin:0;
}

.wrapper {
    /*width, height 속성은 블록 요소에만 적용된다.
    인라인 요소에는 적용되지 않는다.*/
    width: 720px;
    margin-left:auto;
    margin-right:auto;
}
hr{

}
.block-box,
.inline-box {
    width : 200px;
    height : 200px;
    /*margin-top,margin-bottom은 Inline 요소에는 적용되지 않습니다.*/
    margin : 20px;

    /*padding-top,padding-bottom 은 inline요소에는 적용되지 않습니다,
    (간격이 벌어지지 않는다)*/
    padding: 20px;
    background : #000;
    color:#fff;
    border: 20px solid blue;

}

.Inline-block-box{
display:inline-block;
/*화면 표시 방법:Inline-block 변경*/
/*기본적으로는 inline처럼 보이지만, block처럼 레이아웃 설정이 가능하다.*/
/*상/하 공간 설정 가능.
width/height 설정 가능.*/

background:#ffd3da;
color:#f44da4;

}

.ghost-stlye-link{
    display:inline-block;
    margin:20px;
    border:3px solid currentColor;
    padding:0.9375em 1.25em 0.625em;
    font-size:1rem;
    font-weight:300;
    line-height:1;
    letter-spacing:-0.03em;
    text-decoration: none;
    text-transform:uppercase;
    color:#0044ed;
    transition: all 0.4s ease;


}

.ghost-stlye-link:hover {
    border-color:#0044ed;
    background:#0044ed;
    color:#ffffff;
}

.album-image{

    /*width:100%;
    height:auto;*/
    margin:5px;
    border:8px solid #ccc;
    padding: 20px;
    background:#fff;
    transition:border-color 700ms ease;
}
.album-image:hover{
    border-color:#0044ed;
}