body {
    margin: 100px auto;
    width: 50%;
}

.dropcap {
    line-height:1.5;
    
}
.dropcap::first-letter {
float: left;
margin-right:10px;
color:red;
font-size:72px;
font-weight:900;
line-height:1;
text-transform: uppercase;


}